.cover {
  position: relative;
  width: 100%;
  height: 190vw;
  max-height: 100vh;
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.coverTextLayer {
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 38px;
  padding-bottom: 24px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: KoPub Batang;
  text-align: center;
  color: white;
  font-weight: 200;
}

.koPubBatang {
  font-family: KoPub Batang;
  font-weight: 200;
}

.contactTitle {
  font-weight: 500;
  font-size: 18px;
  background-color: #d7c4b0;
  padding-top: 13px;
  padding-bottom: 11px;
  text-align: center;
}

.contactSubTitle {
  background-color: #eedfcf;
  padding-top: 8px;
  padding-bottom: 9px;
  text-align: center;
}

.swiperWrapper div {
  display: flex;
  justify-content: space-between;
}

.thumbSlide {
  margin: 0 !important;
  cursor: pointer;
}

.busTextWrapper {
  display: flex;
  justify-content: center;
  margin-top: 49px;
  margin-bottom: 16px;
}

.congratulation {
  padding: 44px 48px 48px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: KoPub Batang;
  font-weight: 200;
  color: white;
  font-size: 18px;
}
